@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

:root {
  /*    Colores   */
  --green-color: #7ACC2D;
  --white-color: white;
  --black-color: black;

  /*    Tipografia    */
  --normal:12px;
  /*  Espacio   */
  --space:10px;
  --space-2:20px;
  /*  Box shadow  */
  --box:0px 0 2px 1px #e6e5e9;
}

html, body {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.logo{
  padding-left: 10px;
}

p, label {
  font-size: var(--normal);
}

label {
  padding-bottom: var(--space);
}

nav {
  background-color: var(--green-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li, a {
  color: var(--black-color);
  padding-right: 10px;
  text-decoration: none;
  list-style: none;
}

nav ul{
  display: flex;
}

nav li a:hover{
  color: var(--white-color);
}

.main_section {
  padding: 10%;
  text-align: center;
}

.products {
  background-image: url("../imagen/curve.png");
  height: 200px;
  background-size: cover;
  background-position: center top;
  padding: 10%;
  display: flex;
  align-items: center; 
}

.content h2 {
  text-align: center;
}

.product {
  padding: 110px;
}

.product .content {
  background-color: white;
  padding: 10px;
  margin-top: -310px;
  box-shadow: 0 0 4px #737272
}

.image_content {
  text-align: center;
}

.main_buttom {
  background-color: var(--green-color);
  width: 100%;
  padding: 10px;
  font-size: 17px;
  color: var(--black-color);
  cursor: pointer;
  border-radius: 5px;
}

.main_buttom:hover {
  background-color: #5a8e28;
}

.description {
  display: flex;
  justify-content: space-between;
  border: 1px solid transparent;
  box-shadow: 0px 1px 2px #d8d6d6;
}

.description_content {
  padding: 50px;
  margin:60px;
  text-align: -webkit-center;
}

.mention {
  margin-top: 4%;
  margin-bottom: 10%;
}

.mention_container {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.menciones {
  text-align: center;
}

.mention_content {
  padding: 0px;
  /* box-shadow: 0 0 2px #d8d6d6; */
  margin: 5px;
  width: 242px;
  height: 100px;
}

.mention_content h2, p {
  margin: 0px;
}

/* Ajuste pagina venta */

.modulo_pago {
  background-color: var(--white-color);
  box-shadow: var(--box);
  padding: var(--space);
}

.modulo_pago input {
  margin-top: var(--space);
  width: 100%;
  height: 35px;
  border-radius: 2px;
  border: 1px solid var(--black-color);
  box-sizing: border-box;
}

.modulo_pago_images {
  max-width: 150px;
  margin: auto;
}


/* Ajuste pagina venta */

footer {
  display: flex;
  background-color: #313337;
  width: 100%;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

footer p {
  color: white;
  padding: 10px;
}

/*      Inicio ajuste de pagina exito       */

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #313337;
}

.container_exito {
  text-align: center;
}

.text h2, h5 {
  color: white;
  text-align: center;
}

.text a {
  color: var(--green-color);
}

